@charset "UTF-8";
@media all and (-ms-high-contrast: none),(-ms-high-contrast: active){.dfwVYk{display:inline-block;vertical-align:top;max-block-size:calc(var(--b1-line-height)*2)}}.dfwVYk{display:-webkit-box;padding-block-end:0;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:2}.ZOhvj0{text-align:end}
